S3method(latex,anova.lme)
export(DMlatex)
export(DMlatex.default)
export(DMlatex.summary.formula.cross)
export(DMlatex.summary.formula.reverse)
export(DMlatexSummaryby)
export(glm.p)
export(glm.ps)
export(glm.stderr)
export(glm.value)
export(glm.z)
export(latex.ftable)
export(latex.glm)
export(latex.lm)
export(latex.lme)
export(latex.summary.lme)
export(latexODBCTable)
export(latexSNdouble)
export(lm.p)
export(lm.ps)
export(lm.stderr)
export(lm.t)
export(lm.value)
export(lme.DF)
export(lme.p)
export(lme.ps)
export(lme.stderr)
export(lme.value)
export(lmeLabel)
export(removeFormFunc)
export(xtable.decimal)
import(Hmisc)
import(RODBC)
